* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* Light Professional Background */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to right, #e3f2fd, #f8fbff);
    color: #333;
    padding: 20px;
}

header {
    background: peachpuff;
    color: #f1f5f9;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

header h1 {
    margin-bottom: 10px;
    letter-spacing: 1px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: blue;
}

section {
    margin: 40px 0;
    padding: 25px;
    background: white;
    border-radius: 10px;
    transition: 0.3s;
}



h2 {
    margin-bottom: 15px;
    color:black;
}

ul li {
    margin-bottom: 8px;
}

.project-card {
    background:skyblue;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    transition: 0.3s;
}

.project-card:hover {
    background: white;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid #334155;
    color: #94a3b8;
}
